<template>
  <div>
    <div class="rounded-full p-5 m-5" :class="displayClass">
      <div class="text-9xl">
        <span v-if="this.roundActuel >= 0">{{ tempsRestant }}</span>
        <span v-else>{{
          this.echauffement ? this.tempsEchauffement : this.tempsIntense
        }}</span>
      </div>
      <div v-if="enCours">
        <div class="text-3xl">Round {{ this.roundActuel + 1 }} :</div>
        <div class="text-5xl capitalize">
          {{ this.chrono[this.roundActuel].type }}
        </div>
      </div>
    </div>

    <button
      type="button"
      @click="clickHandler"
      :class="[
        { 'bg-red-500': enCours },
        'border p-2 mr-2 rounded transition hover:bg-gray-200'
      ]"
    >
      <span v-if="enCours">Pause</span>
      <span v-else>Lancer</span>
    </button>
    <button
      v-if="this.roundActuel >= 0"
      type="button"
      @click="resetHandler"
      class=" border p-2 rounded transition hover:bg-gray-200"
    >
      Recommencer
    </button>
    <audio src="../assets/beep.mp3" ref="beep"></audio>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

interface Data {
  tempsRestant: number;
  enCours: boolean;
  interval: ReturnType<typeof setInterval> | null;
  roundActuel: number;
  chrono: { temps: number; type: string }[];
}

export default Vue.extend({
  props: {
    echauffement: Boolean,
    rounds: Number,
    tempsIntense: Number,
    tempsRepos: Number,
    tempsEchauffement: Number
  },

  data(): Data {
    return {
      tempsRestant: 0,
      enCours: false,
      interval: null,
      roundActuel: -1,
      chrono: []
    };
  },

  computed: {
    roundsTotal(): number {
      if (this.echauffement) return (this.rounds as number) + 2;
      return this.rounds;
    },

    displayClass(): Record<string, boolean> {
      return {
        "bg-green-400":
          this.enCours && this.chrono[this.roundActuel].type === "repos",
        "bg-yellow-300":
          this.enCours && this.chrono[this.roundActuel].type === "echauffement",
        "bg-yellow-600 text-white":
          this.enCours && this.chrono[this.roundActuel].type === "intense",
        "bg-gray-400": !this.enCours
      };
    }
  },

  methods: {
    clickHandler() {
      this.enCours = !this.enCours;

      if (this.enCours) {
        // start
        if (this.roundActuel < 0) {
          this.remplissageChrono();
          this.roundActuel = 0;
          this.$emit("toggleBloquant");
          console.log(
            "--- " + new Date().toLocaleTimeString() + " : RESTART ---"
          );
        } else {
          console.log(
            "--- " + new Date().toLocaleTimeString() + " : START ---"
          );
        }

        const beep = this.$refs.beep as HTMLAudioElement;
        beep.play();
        this.interval = setInterval(() => {
          this.tempsRestant--;

          if (this.tempsRestant <= 0) this.nextInterval();
        }, 1000);
      } else {
        console.log("--- " + new Date().toLocaleTimeString() + " : PAUSE ---");
        clearInterval(this.interval as ReturnType<typeof setInterval>);
      }
    },

    nextInterval() {
      console.log(
        new Date().toLocaleTimeString() + " : round " + this.roundActuel
      );
      const beep = this.$refs.beep as HTMLAudioElement;
      beep.currentTime = 0;
      beep.play();
      this.roundActuel++;

      if (this.roundActuel < this.roundsTotal) {
        this.tempsRestant = this.chrono[this.roundActuel].temps;
        console.log(this.chrono[this.roundActuel].type);
        if (this.chrono[this.roundActuel].type === "repos") {
          setTimeout(() => {
            beep.currentTime = 0;
            beep.play();
          }, 500);
        }
      } else {
        this.resetHandler();
      }
    },

    remplissageChrono() {
      this.chrono = [];
      if (this.echauffement)
        this.chrono.push({
          temps: this.tempsEchauffement,
          type: "echauffement"
        });
      for (let index = 0; index < this.rounds; index++) {
        let temps;
        let type;
        if (index % 2 === 0) {
          temps = this.tempsIntense;
          type = "intense";
        } else {
          temps = this.tempsRepos;
          type = "repos";
        }

        this.chrono.push({ temps: temps, type: type });
      }
      if (this.echauffement)
        this.chrono.push({
          temps: this.tempsEchauffement,
          type: "echauffement"
        });
    },

    resetHandler() {
      console.log("--- " + new Date().toLocaleTimeString() + " : FIN ---");
      clearInterval(this.interval as ReturnType<typeof setInterval>);
      this.enCours = false;
      this.$emit("toggleBloquant");
      this.roundActuel = -1;
    }
  }
});
</script>

<style></style>
