<template>
  <form class="m-5 p-5 rounded" :class="formClass">
    <div>
      <label for="rounds">Nombre de rounds :</label>
      <input
        type="number"
        name="rounds"
        id="rounds"
        :value="rounds"
        min="1"
        @change="roundsHandler"
        :disabled="bloquant"
      />
    </div>

    <div>
      <label for="tempsIntense">Durée de l'effort intense :</label>
      <input
        type="number"
        name="tempsIntense"
        id="tempsIntense"
        :value="tempsIntense"
        min="1"
        @change="tempsIntenseHandler"
        :disabled="bloquant"
      />
    </div>

    <div>
      <label for="tempsRepos">Durée du repos :</label>
      <input
        type="number"
        name="tempsRepos"
        id="tempsRepos"
        :value="tempsRepos"
        min="1"
        @change="tempsReposHandler"
        :disabled="bloquant"
      />
    </div>

    <div>
      <label for="echauffement">Echauffement ?</label>
      <input
        type="checkbox"
        name="echauffement"
        id="echauffement"
        :checked="echauffement"
        @change="echauffementHandler"
        :disabled="bloquant"
      />
    </div>

    <div v-if="echauffement">
      <label for="tempsEchauffement">Durée de l'échauffement :</label>
      <input
        type="number"
        name="tempsEchauffement"
        id="tempsEchauffement"
        :value="tempsEchauffement"
        min="1"
        @change="tempsEchauffementHandler"
        :disabled="bloquant"
      />
    </div>
  </form>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    rounds: Number,
    echauffement: Boolean,
    tempsEchauffement: Number,
    tempsIntense: Number,
    tempsRepos: Number,
    bloquant: Boolean
  },

  computed: {
    formClass() {
      return {
        "bg-green-100 text-black shadow": !this.bloquant,
        "bg-gray-100 text-gray-500": this.bloquant
      };
    }
  },

  methods: {
    roundsHandler(e: Event) {
      this.$emit("roundsChange", (e.target as HTMLInputElement).value);
    },
    echauffementHandler(e: Event) {
      this.$emit("echauffementChange", (e.target as HTMLInputElement).checked);
    },
    tempsEchauffementHandler(e: Event) {
      this.$emit(
        "tempsEchauffementChange",
        (e.target as HTMLInputElement).value
      );
    },
    tempsIntenseHandler(e: Event) {
      this.$emit("tempsIntenseChange", (e.target as HTMLInputElement).value);
    },
    tempsReposHandler(e: Event) {
      this.$emit("tempsReposChange", (e.target as HTMLInputElement).value);
    }
  }
});
</script>

<style>
input {
  width: 50px;
  text-align: right;
  padding: 2px 5px;
  margin: 5px !important;
}
</style>
