<template>
  <div id="app">
    <timer-display v-bind="params" @toggleBloquant="toggleBloquantHandler" />
    <timer-control
      v-bind="params"
      :bloquant="bloquant"
      @roundsChange="roundsChangeHandler"
      @echauffementChange="echauffementChangeHandler"
      @tempsEchauffementChange="tempsEchauffementChangeHandler"
      @tempsIntenseChange="tempsIntenseChangeHandler"
      @tempsReposChange="tempsReposChangeHandler"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TimerControl from "./components/TimerControl.vue";
import TimerDisplay from "./components/TimerDisplay.vue";

export interface Params {
  echauffement: boolean;
  rounds: number;
  tempsIntense: number;
  tempsRepos: number;
  tempsEchauffement: number;
}

export default Vue.extend({
  name: "App",
  components: {
    TimerDisplay,
    TimerControl
  },

  data: (): { params: Params; bloquant: boolean } => {
    return {
      params: {
        echauffement: true,
        rounds: 4,
        tempsIntense: 5,
        tempsRepos: 2,
        tempsEchauffement: 3
      },
      bloquant: false
    };
  },

  methods: {
    roundsChangeHandler(rounds: string) {
      this.params.rounds = parseInt(rounds);
    },
    echauffementChangeHandler(echauffement: boolean) {
      this.params.echauffement = echauffement;
    },
    tempsEchauffementChangeHandler(tempsEchauffement: string) {
      this.params.tempsEchauffement = parseInt(tempsEchauffement);
    },
    tempsIntenseChangeHandler(tempsIntense: string) {
      this.params.tempsIntense = parseInt(tempsIntense);
    },
    tempsReposChangeHandler(tempsRepos: string) {
      this.params.tempsRepos = parseInt(tempsRepos);
    },
    toggleBloquantHandler() {
      this.bloquant = !this.bloquant;
    }
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
